.hero-container {
  height: 100vh;
  background-image: url(/images/bgi3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
}

.hero_div {
  padding: 0 2rem;
}

.hero_header {
  color: rgb(255, 255, 255);
  font-size: 6rem;
  flex: 1;
}

.hero_description {
  color: rgb(255, 255, 255);
  font-size: 2.6rem;
  flex: 1;
}



#contact-btn {
  display: flex;
  align-items: end;
  height: 10rem;
}

#contactBtn {
  font-size: 3rem;
  box-shadow: 4px 4px 10px #00000099, -4px -4px 10px #353535,
    inset 4px 4px 10px #00000099, inset -4px -4px 10px #353535;
  transform: translateX(80%);
}

#contactBtn:hover {
  color: bisque;
  border: 3px solid bisque;
}

.hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0.3s;
}

.slideInAnimation {
  position: relative;
  visibility: visible !important;
  animation: slideIn 2s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1000px) {
  .hero-box .hero_header {
    font-size: 4rem;
  }
}

@media (max-width: 550px) {
  .hero-box .hero_header {
    font-size: 3rem;
  }

  #contactBtn {
    font-size: 2rem;
    margin-top: 4rem;
    transform: translateX(0%);
  }
}

@media (max-width: 430px) {
  .hero-box .hero_header {
    font-size: 2rem;
  }
}
