body {
  font-family: "Poppins", sans-serif;
  background-color: antiquewhite;
}
.popup {
  height: auto;
  width: 40rem;
  color: #333;
  border-radius: 6px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 2rem 3rem;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.btn-popup {
  cursor: pointer;
  color: #fff !important;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: none;
  box-shadow: 4px 4px 10px #000, -4px -4px 10px #546e7a;
  padding: 1rem 2rem;
  border-radius: 30px;
  color: var(--clr-med);
  background-color: #5000ff;
  transition: 1sec all ease;
  margin-top: 5rem;
}

.popup img {
  width: 15rem;
  margin-top: -7rem;
}

.popup h2 {
  color: #5000ff;
  font-size: 3.8rem;
  font-weight: 500;
  margin: 3rem 0 1rem;
}

.popup p {
  font-size: 2rem;
  margin-top: 1rem;
}

@media (max-width: 700px) {
  .popup {
    width: 80%;
    padding: 0 1rem 3rem;
  }
  .popup img {
    width: 10rem;
    margin-top: -5rem;
  }
  .popup h2 {
    font-size: 3rem;
  }
  .popup p {
    font-size: 1.8rem;
  }
}
