.weather-container{
    position: relative;
}

.weather-box{
    margin-top: -5rem;
    color: #ffff;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30rem;
    height: 10rem;
    background-color: aqua;
}

.weather-img img{
    width: 5rem;
    height: 5rem;
}