.weather-container {
  position: relative;
}

.weather-box {
  height: 10rem;
  color: #fff;
  background-color: transparent;
  margin-top: -10.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.weather-img img {
  width: 5rem;
  height: 5rem;
}

.weather-info {
  font-size: 1.4rem;
}

@media (max-width: 300px) {
  .weather-box {
    right:unset;
  }
.weather-info {
  font-size: 1.2rem;
}
}
